<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD SQL MAP Config 3.1//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="callSettersOnNulls" value="true"/>
        <setting name="useGeneratedKeys" value="true"/>
        <!-- 下划线自动转为驼峰命名 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <plugins>
        <plugin interceptor="xiaotang.weixin.util.CameHumpInterceptor">
            <property name="someProperty" value="100"/>
        </plugin>
    </plugins>
</configuration>
