<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xiaotang.weixin.dao.UserMapper">
	<resultMap id="fieldMapper" type="xiaotang.weixin.model.User">
		<id property="uuid" column="UUID" /><!---->
        <result property="username" column="USERNAME" /><!---->
        <result property="password" column="PASSWORD" /><!---->
    </resultMap>
    <sql id="fieldAsProperty">
		UUID AS uuid,
		USERNAME AS username,
		PASSWORD AS password
    </sql>

</mapper>

